# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# VS Code
!.vscode/tasks.js
!.vscode/launch.json
#.vscode

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
nohup.out

gitee_account.json
reqTemplate/*.json
